@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: Gemunu Libre, sans-serif;
}

body {
  background-image: url("./wallpaper.png");
  background-size: 15rem;
}

.container {
  margin: 4rem;
  margin-top: 4rem;
  background-color: #fffefe;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: -9px -15px 18px -2px rgba(0, 0, 0, 0.46);
  box-shadow: -9px -15px 18px -2px rgba(0, 0, 0, 0.46);
}

li a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.cabecalho {
  display: flex;
  justify-content:space-between;
  margin: 0;
  padding-top:2rem;
  background: linear-gradient(236.85deg, #eaf1ffd5 27.26%, #fdfeff 196.03%);
  border-radius: 5px;
  font-size: 1.5rem;
}

.perfil{
  display: flex;
}

.dados{
  padding-top:3rem;
}
h1 {
  color: rgb(53, 97, 218);
  padding-top:0.5rem;
}

#fotoPerfil {
  border-radius: 80%;
  padding: 0.15rem;
  border: 6px double rgb(53, 97, 218);
  max-width: 200px;
  max-height: 200px;
  margin: 1rem;
}

.tema button {
  margin-right:2rem;
  margin-bottom:10rem;
  font-size:1.5rem;
  padding:0.5rem;
  border-radius: 8px;
  color:#e9ecf0;
  background: rgb(53, 97, 218);
  border: 2px solid rgb(53, 97, 218);

} 

main {
  padding: 1rem;
  margin-top: 3rem;
  align-items: center;
  background: linear-gradient(236.85deg, #eaf1ffd5 27.26%, #fdfeff 161.03%);
  border-radius: 5px;
  font-size: 1.5rem;
}

.meusprojetos{
  font-size:2rem;
}

footer {
  background: linear-gradient(236.85deg, #eaf1ffd5 27.26%, #fdfeff 161.03%);
  padding-left:2rem;
  font-size: 2rem;
}

i {
  color: rgb(53, 97, 218);
}

.dark{
  background-image:none;
  background-color:#020101;
  background-size: 15rem;
}

.dark.container{
  background-color: #020101;
  color:#fffefe;
  -webkit-box-shadow: -9px -15px 18px -2px #fffefe;;
  box-shadow: -9px -15px 18px -2px #fffefe;

}

.dark .cabecalho {
  background: rgb(22,23,24);
  background: linear-gradient(29deg, rgba(22,23,24,1) 35%, rgba(255,252,255,1) 69%);

}

.dark .dados{
  color:#fffefe;
}
.dark h1{
  color:#fffefe;
}

.dark .tema button{
  color:#e9ecf0;
  background: rgb(15, 15, 15);
  border: 2px solid rgb(17, 17, 17);

}

.dark footer{
  background: rgb(15, 15, 15);
  color:#e9ecf0;


}
.dark i {
  color:#e9ecf0;

}

.dark #fotoPerfil {
  border: 6px double #e9ecf0;


}

.dark main {
  color:#e9ecf0;
  background: rgb(22,23,24);
  background: linear-gradient(29deg, rgba(22,23,24,1) 48%, rgba(44,46,59,1) 87%);
}

.pokemon{
  background-image: url('https://cdn.gamer-network.net/2013/usgamer/PokemonSiri-header.png/EG11/thumbnail/1920x1080/format/jpg/quality/65/25-07-2017-what-are-the-strongest-most-competitive-pokemon-thatll-help-you-build-the-best-team.jpg');
  background-size: 45rem;
}

.pokemon.container{
  background-color: #ff0606;
  color:#fffefe;
  -webkit-box-shadow: -9px -15px 18px -2px #fffefe;;
  box-shadow: -9px -15px 18px -2px #fffefe;

}

.pokemon .cabecalho {
  background-image: url("./bola.png");
  background-size: cover;

}

.pokemon .dados{
  color:#ffffff;
}
.pokemon h1{
  color:#fffefe;
}

.pokemon .tema button{
  color:#e9ecf0;
  background: rgb(235, 3, 3);
  border: 2px solid rgb(20, 20, 20);

}

.pokemon footer{
  background: rgb(252, 3, 3);
  color:#e9ecf0;


}
.pokemon i {
  color:#e9ecf0;

}

.pokemon #fotoPerfil {
  border: 6px double rgb(20, 20, 20);


}

.pokemon main {
  color:#e9ecf0;
  background: rgb(22,23,24);
  background: linear-gradient(29deg, rgba(22,23,24,1) 48%, rgba(44,46,59,1) 87%);
}